#map_all { 
  height: 800px;  
  width: 500px;
  float: left;
}

#small_maps {
  margin-left: 40px;
  margin-right: 40px;
  float: left;
}

#map, #map1, #map2, #map3 { 
  height: 200px; 
  width: 400px; 
}

body {
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
}