@charset "utf-8";
/* CSS Document */

tr:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color: #ffcc00;
    color: white;
}

.title {
	background-color:#002699;
	color: white;
}


#form {
	position: relative;
	margin-left: 550px;
	margin-top: 75px;
}


.inputDiv {
	height:300px;
	display: inline-block;
}



#button {
    display: inline-block;
    height:150px;
	width:150px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius:100%;
	text-align:center;
	vertical-align: middle;
	line-height: 150px; 
	margin-top:2px;
	position: relative;
	margin-left: 560px;
}

#image {
	background-color: #cdcdb1;
	width:115%;
	float: left;
}

#logo {
	height:150px;
	width:225px;
	margin-left:40px;
}

#title {
	margin: 0;
 	padding: 0;
 	width:115%;
 	height:650px;
 	background-image: url("../IMG/background1.png"), url("../IMG/background2.jpg");
 	text-align: center;
	vertical-align: middle;
	line-height: 650px; 
	float: left;

}

head {
	margin: 0;
 	padding: 0;
}

body {

	margin: 0;
 	padding: 0;
}

h1{
	font-size: 50px;
<<<<<<< HEAD
=======
	font-family: 'Helvetia', 'Arial', sans-serif;
>>>>>>> 9e3b9df1e453dcf5332afc7d3d5cbae40d71294c
	color: white;
}

#bottom {
	width:115%;
 	height:200px;
 	background-color: #00004d;
}

hr {
	margin-left: 70px;
    border: 0.5px solid #d5d5c3;
}


