@charset "utf-8";
/* CSS Document */

tr:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color: #ffcc00;
    color: white;
}

.title {
	background-color:#002699;
	color: white;
}


form {
    display: inline-block;
}

#button {
    display: inline-block;
    height:20px;
	width:170px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

