/* placeholder css file */
img {
	opacity: 0.7;
    filter: alpha(opacity=80);
}

body {
	position: relative;
	color: white;
}


body:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./img/arora.jpg");
    width: 100%;
    height: 100%;
    opacity : 1;
    z-index: -1;
    background-size: cover
}

hr {
	color: black
}

h1 {
	font-size: 40px;
}