table {
    display: table;
    border: 1px solid;
    border-color: black ;
    border-spacing: 2px;
}

.bio {
    vertical-align: bottom;
    margin: 10px 50px 100px;
}

.photo {
    vertical-align: top;
}

.image {
    height: 200px;
    width: 200px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px !important;
}

.logo {
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

/* Styling for Jumbotron */
.jumbotron {
    background-image: url("ecosystem.jpg") !important;
    background-size: cover;
    color: #ffffff  !important;
    padding: 100px 25px !important;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/* Styling for Back-to-Top Button*/
.back2top {
    color: green !important;
}

.glyphicon-chevron-up {
    color: green !important;
}