/* General CSS to be used by all pages, can be overwritten */
.navbar {
  margin-bottom: 0;
  background-color: #04a340;
  z-index: 9999;
  border: 0;
  font-size: 12px;
  line-height: 1.42857143;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar .nav li a, .navbar .navbar-brand {
  color: #fff;
}

.navbar .navbar-brand:hover {
  color: #fff;
}

.navbar .nav li a:hover, .navbar .nav li.active a {
  color: #f4511e;
  background-color: #fff;
}

.jumbotron {
  background-color: #0b7f37;
  color: #ffffff;
  padding: 70px 25px;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.green-text {
  color: green;
}
