<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'analysis.css' %}" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{%static 'd3tips.js' %}"></script>
  <script src="{%static 'd3matrix.js' %}"></script>
  <script src="{% static 'analysis.js' %}"></script>
</head>
<body>
  <h1>Analysis</h1>
  <svg id="chart"></svg>
</body>
<body>
    <div id="container"></div>
    <script src="{%static 'd3matrix.js' %}"></script>

    <script>

        var confusionMatrix = [
            [0.69, 0.02],
            [0.03, 0.70]

        ];
        var labels = ['Invasive', 'Noninvasive'];

        Matrix({
            container : '#container',
            data      : confusionMatrix,
            labels    : labels
        });
    </script>
</body>
</html>