<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'global_style.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'analysis.css' %}" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{%static 'd3tips.js' %}"></script>
    <script src="{%static 'd3matrix.js' %}"></script>
    <script src="{% static 'analysis.js' %}"></script>

    <title>EDAM</title>
  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">EDAM</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#members">MEMBERS</a></li>
            <li><a href="/analysis">ANALYSIS</a></li>
            <li><a href="/webtool">WEBTOOL</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- JUMBOTRON -->
    <div class="jumbotron text-center">
      <h1>Analysis</h1>
    </div>

    <!-- ABOUT -->
    <div id="about" class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h2>Intro</h2>
          <h4>Big Ideas Proposal here</h4>
          <object width="300" height="300" type="text/plain" data="big_ideas_proposal.txt" border="0" ></object>
        </div>
      </div>
    </div>

    <!-- DATA -->
    <div id="data" class="container-fluid">
      <h1>Example graph</h1>
      <svg id="chart"></svg>
    </div>
    <div id="data" class="container-fluid">
        <div id="container"></div>
        <script>
          var confusionMatrix = [
              [0.69, 0.02],
              [0.03, 0.70]

          ];
          var labels = ['Invasive', 'Noninvasive'];

          Matrix({
              container : '#container',
              data      : confusionMatrix,
              labels    : labels
          });
          </script>
    </div>

    <!-- FOOTER -->
    <footer class="container-fluid text-center">
      <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <p class="back2top">Back to Top</p>
      </a>
    </footer>

    <!-- SCRIPT FOR SMOOTH SCROLLING FROM NAVBAR -->
    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

       // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
          });
        } // End if
      });
    })
    </script>
  </body>
</html>