<!DOCTYPE html>
{% load static %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static "homepage/static/homepage.css" %}" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <title>EDAM</title>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>EDAM</h1> 
      <p>Machine Learning to Identify Invasive Species</p> 
      <form class="form-inline">
        <div class="input-group">
          <input type="email" class="form-control" size="50" placeholder="Species Name" required>
          <div class="input-group-btn">
            <button type="button" class="btn btn-danger">Classify</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-8">
            <h2>About Us</h2>
            <h4>We are a part of EDAM... etc. etc. We are based in Berkeley Institute of Data Science etc. etc.</h4> 
            <button class="btn btn-default btn-lg">Get in Touch</button>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Paris">
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid text-center bg-grey">
      <h2>Group Members</h2>
          <div class="row text-center">
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Jonathan">
              <p><strong>Jonathan Wang</strong></p>
              <p>Project Lead</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Brian">
              <p><strong>Brian Lin</strong></p>
              <p>Undergraduate Researcher</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Lavanya">
              <p><strong>Lavanya Harinarayan</strong></p>
              <p>Undergraduate Researcher</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Jack">
              <p><strong>Jack Ye</strong></p>
              <p>Undergraduate Researcher</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAlvAAAAJDM3YmE3MDE5LTFkODEtNGU5Zi05OGUyLTEyZGNjMmYwNDk3Ng.jpg" alt="Justin">
              <p><strong>Justin Mi</strong></p>
              <p>Undergraduate Researcher</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Caleb">
              <p><strong>Caleb Siu</strong></p>
              <p>Undergraduate Researcher</p>
            </div>
          </div>
    </div>
  </body>

</html>