<!DOCTYPE html>
{% load static %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static "homepage/static/homepage.css" %}" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <title>EDAM</title>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>EDAM</h1> 
      <p>Machine Learning to Identify Invasive Species</p> 
      <form class="form-inline">
        <div class="input-group">
          <input type="email" class="form-control" size="50" placeholder="Species Name" required>
          <div class="input-group-btn">
            <button type="button" class="btn btn-danger">Classify</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container-fluid">
      <h2>About Company Page</h2>
      <h4>Lorem ipsum..</h4> 
      <p>Lorem ipsum..</p>
      <button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="container-fluid bg-grey">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4> 
      <p><strong>VISION:</strong> Our vision Lorem ipsum..
    </div>
  </body>

</html>