<!DOCTYPE html>
{% load static %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'global_js.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'global_style.css' %}" media="screen">
    <title>EDAM</title>
  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="/">EDAM</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#members">MEMBERS</a></li>
            <li><a href="/analysis">ANALYSIS</a></li>
            <li><a href="/webtool">WEBTOOL</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- JUMBOTRON -->
    <div class="jumbotron text-center">
      <h1>EDAM</h1> 
      <p>Machine Learning to Identify Invasive Species</p> 
      <form class="form-inline">
        <div class="input-group">
          <input type="email" class="form-control" size="50" placeholder="Species Name" required>
          <div class="input-group-btn">
            <button type="button" class="btn btn-danger">Classify</button>
          </div>
        </div>
      </form>
    </div>

    <!-- ABOUT -->
    <div id="about" class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h2>About Us</h2>
          <h4>We are a part of EDAM... etc. etc. We are based in Berkeley Institute of Data Science etc. etc.</h4> 
          <button class="btn btn-default btn-lg">Get in Touch</button>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Paris">
          </div>
        </div>
      </div>
    </div>

    <!-- MEMBERS -->
    <div id="members" class="container-fluid text-center bg-grey">
      <h2>Group Members</h2>
        <div class="row text-center">
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Jonathan">
              <p><strong>Jonathan Wang</strong></p>
              <p>Project Lead</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Brian">
              <p><strong>Brian Lin</strong></p>
              <p>Undergraduate Researcher</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Lavanya">
              <p><strong>Lavanya Harinarayan</strong></p>
              <p>Undergraduate Researcher</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Jack">
              <p><strong>Jack Ye</strong></p>
              <p>Undergraduate Researcher</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="{% static "justin.jpg" %}" alt="Justin">
              <p><strong>Justin Mi</strong></p>
              <p>Undergraduate Researcher</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="http://i.imgur.com/4ybg2jx.jpg" alt="Caleb">
              <p><strong>Caleb Siu</strong></p>
              <p>Undergraduate Researcher</p>
            </div>
          </div>
        </div>
      </div>

    <!-- CONTACT -->
    <div id="contact" class="container-fluid bg-grey">
      <h2 class="text-center">CONTACT</h2>
      <div class="row">
        <div class="col-sm-5">
          <p>Contact us if you are interested in working with us!</p>
          <p><span class="glyphicon glyphicon-map-marker"></span> Berkeley, US</p>
          <p><span class="glyphicon glyphicon-phone"></span> +00 1231456789</p>
          <p><span class="glyphicon glyphicon-envelope"></span> jonathanwang017 [at] berkeley [dot] edu</p> 
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <button class="btn btn-default pull-right" type="submit">Send</button>
            </div>
          </div> 
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="container-fluid text-center">
      <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <p class="back2top">Back to Top</p>
      </a>
    </footer>
  </body>

</html>