<!DOCTYPE html>
{% load static %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'global_js.js' %}"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'webtool_style.css' %}" media="screen"> 
    <link rel="stylesheet" type="text/css" href="{% static 'global_style.css' %}" media="screen">  
    <title>EDAM</title>
  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="/">EDAM</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#members">MEMBERS</a></li>
            <li><a href="/analysis">ANALYSIS</a></li>
            <li><a href="/webtool">WEBTOOL</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="model container-fluid">
      <div class="text-center">
        <h2>Models</h2>
        <h4>Choose a model</h4>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h1>Random Forest</h1>
            </div>
            <div class="panel-body">
              <p> More overfitting but potentially better fit </p>
              <p> ... </p>
              <p> ... </p>
            </div>
            <div class="panel-footer">
              <button class="btn btn-lg">Select</button>
            </div>
          </div>      
        </div>     
        <div class="col-sm-4 col-xs-12">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h1>Logistic Regression</h1>
            </div>
            <div class="panel-body">
              <p> ... </p>
              <p> ... </p>
              <p> ... </p>
            </div>
            <div class="panel-footer">
              <button class="btn btn-lg">Select</button>
            </div>
          </div>      
        </div>       
        <div class="col-sm-4 col-xs-12">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h1>Clustering</h1>
            </div>
            <div class="panel-body">
              <p> If no training data available </p>
              <p> ... </p>
              <p> ... </p>
            </div>
            <div class="panel-footer">
              <button class="btn btn-lg">Select</button>
            </div>
          </div>      
        </div>    
      </div>
    </div>


    <!-- JUMBOTRON -->
    <div class="jumbotron text-center">
      <h2>Webtool</h2> 
      <p>Dataset Upload</p> 
      <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>
    </div>
    <div id="about" class="container-fluid">
      <div class="row">
        <div class="text-center">
          <h2>Hyperparameter Selection</h2>
          <h4> </h4> 
        </div>
        <form class="form-inline text-center" method="post">
          <div class="input-group">
            <label class="control-label">Hyperparameter 1 </label>
            <input type="range" min="10" max="1000" step="10" value="300" data-orientation="vertical">
          </div>
        </form>
      </div>
    </div>
    <div id="about" class="container-fluid">
      <div class="row">
        <form class="form-inline text-center">
          <div class="input-group">
            <label class="control-label">Hyperparameter 2</label>
            <input type="range" min="10" max="1000" step="10" value="300" data-orientation="vertical">
          </div>
        </form>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="container-fluid text-center">
      <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <p class="back2top">Back to Top</p>
      </a>
    </footer>
  </body>

</html>