.panel {
    border: 1px solid #f4511e; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}

<<<<<<< HEAD
[for ~= "id_description"] {
    color: red;
    display: block;
    margin: auto;
    text-align: center;
}

[for ~= "id_document"] {
    content: '\A';
    color: red;
    display: block;
    float: left;
}

[for ~= "id_label"] {
    content: '\A';
    color: red;
    display: block;
    float: right;
}

#id_description {
    display: block;
    margin: auto;
}

#id_document {
    float: left;
}

#id_label {
    float: right;
}

#file-submit {
    content: '\A';
    display: block;
    margin: auto;
    clear: both;
}

#model-submit {
    content: '\A';
    display: block;
    margin: auto;
    clear: both;
}

.content-display {
    background-color: #0b7f37  !important;
    color: #ffffff  !important;
    padding: 50px 50px !important;
}

select {
    background-color: white;
    color: black;
}

output {
    color: white;
}

input[type=file] {
    display: inline;
}
