#map_all { height: 800px;  width: 500px;}
#map { height: 200px; width: 400px; }
#map1 { height: 200px; width: 400px; }
#map2 { height: 200px; width: 400px; }
#map3 { height: 200px; width: 400px; }

body {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}