<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include leaflet.html %}
    <script src="{{ site.baseurl }}/js/index.js"></script>
  </head>
  <body>
    <div id="link_div">
      <a href="comparison_table">Data Table</a> | 
      <a href="biodiversity_tool">Tool Wireframe</a> | 
      <a href="leaflet_demo">Leaflet Demo</a>
    </div>
    <div id="map_div">
      <div id="map"> 
      </div>
    </div>
    <div id="table_div">
      {{ content }}
    </div>
  </body>
</html>
