<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>A COOL THING</title>
    {% include head.html %}
    {% include jquery.html %}
    {% include leaflet.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/leaflet_demo.css">
    <script src="{{ site.baseurl }}/js/leaflet_demo.js"></script>
  </head>

  <body>
    <h1> Four Island Chains </h1>
    <p>
      Ecostation biodiversity data summaries are derived from openly available biodiversity data repositories (e.g. GBIF, iDigBio, GloBI). Initially only species lists and associated food webs are compiled for participating ecostations using automated data processing algorithms. For each ecostation, the completeness of the lists and webs are estimated. Also, the similarity of the lists and webs are calculated across the spatially separated island ecosystems to highlight ecological likeness. By providing EDAM, spatially and institutionally disjointed projects now have a data- driven method to see how much ecological data is available for specific spatio- taxonomic spaces. We hope that comparing available ecological data across ecostations will help stimulate collaboration between scientists, technologists, educators, local governments and research foundations to help better understand and sustain ecosystems around us.
    </p>
    <br>
    <div>
      <div>
        <div id="map_all"></div>
      </div>
      <div id="small_maps">
        <div>
          <h4> Kauai </h4> 
          <div id="map"></div>
          </br>

          <h4> Moorea </h4> 
          <div id="map1"></div>  
          </br>

          <h4> Friday Harbor, Washington, USA </h4> 
          <div id="map2"></div>
          </br>

          <h4> Galapagos Islands </h4> 
          <div id="map3"></div>
        </div> 
      </div>
    </div>
    <div id="twitter_div">
      <h2>Connect</h2>
      <div>
        <p>Connect with us at UC Berkeley BIDS</p>
        <a class="twitter-timeline" href="https://twitter.com/UCBIDS" data-widget-id="662126814848937989" width="300"height="400">
          Tweets by @UCBIDS
        </a>
      </div>
      <div>
        <p>Connect with ecological data citizens and professionals at Ecological Society of America</p>
        <a class="twitter-timeline" href="https://twitter.com/ESA_org" data-widget-id="662117469897650176" width="300" height="400">
          Tweets by ESA_org
        </a>
      </div>  
    </div>
  </body>
</html>
